<h1>Listing ip_ranges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ipbase</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_ranges.each do |ip_range| %>
      <tr>
        <td><%= ip_range.name %></td>
        <td><%= ip_range.ipbase %></td>
        <td><%= link_to 'Show', ip_range %></td>
        <td><%= link_to 'Edit', edit_ip_range_path(ip_range) %></td>
        <td><%= link_to 'Destroy', ip_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip range', new_ip_range_path %>
