<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ip_range.name %>
</p>

<p>
  <strong>Ipbase:</strong>
  <%= @ip_range.ipbase %>
</p>

<%= link_to 'Edit', edit_ip_range_path(@ip_range) %> |
<%= link_to 'Back', ip_ranges_path %>
