<%= form_for(@iprange) do |f| %>
  <% if @iprange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iprange.errors.count, "error") %> prohibited this ip_range from being saved:</h2>

      <ul>
      <% @iprange.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ipbase %><br>
    <%= f.text_field :ipbase %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
