<h1>Listing ip_ranges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ipbase</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ipranges.each do |iprange| %>
      <tr>
        <td><%= iprange.name %></td>
        <td><%= iprange.ipbase %></td>
        <td><%= link_to 'Show', iprange %></td>
        <td><%= link_to 'Edit', edit_iprange_path(iprange) %></td>
        <td><%= link_to 'Destroy', iprange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip range', new_iprange_path %>
